header {
  background: rgb(37, 37, 37);
  padding: 10px 0px 10px 0px;
}

header a,
header a:hover {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.weatherContainer {
  padding: 13px;
}

.innerContainer {
  padding: 12px 12px 12px 18px;
}

.bottomContainer {
  margin-left: 43px;
}

.tempItem {
  margin-top: 10px;
}
